@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

body {
    background-image: url("https://i.imgur.com/RilYvPs.jpg");

}

.alyssaD {
    font-size: 500%;
    font-family: 'Playfair Display', serif;
    padding: 5px;
    color: white;
    text-transform: uppercase;
}



.navLinks {
    font-size: 20px;
    text-align: left;
    font-family: 'Playfair Display', serif;
    color: white;
    padding: 20px;
    margin-top: -60px;
    background-color: #023040;
    width: 97%;
}

.linksOne, .linksTwo, .linksThree {
    color: white;
    text-decoration: none;
    
}
.linksOne:hover, .linksTwo:hover, .linksThree:hover {
 opacity: 0.2;
    
}

.dashCard {
    margin-top: -20px;
    padding: 20px;
}