@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
body {
   background-color: #d2ecfa;
    height: 100%;
}

.alyssaD {
    font-size: 700%;
    font-family: 'Poiret One', cursive;
    padding: 40px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 10px #000000;
}



.navLinks {
    float: center;
    font-size: 17px;
    text-align: right;
    font-family: 'Playfair Display', serif;
    color: white;
    background-color: #023040;
    width: 97%;
   padding: 20px;
    border-radius: 5px;
}

.linksOne, .linksTwo, .linksThree {
    color: white;
    text-decoration: none;
    
}
.linksOne:hover, .linksTwo:hover, .linksThree:hover {
 opacity: 0.2;
    
}


.TITLEDash {
    text-align: center;
    color: white;
    font-size: 600%;
    font-weight: bold;
    
}

.SUBDash {
    text-align: center;
    color: white;
    font-size: 200%;
    font-weight: bold;
}

hr {
    border-width: 5px;
    border-color: white;
}

.btnArea {
    text-align: center;
    background-color: #fad2ee;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  height: 110%;
  padding: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  text-transform: uppercase;

}
.dashBtn {
    background-color: #d2ecfa;
    border-color: #d2ecfa;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 100%;
   padding: 15px;
   margin-bottom: 10px;
 
}

.dashBtn:hover {
   background-color: white;
   border-color: white;
   color: #d2ecfa;
}


