@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
body {
    background-color: #F9B7DB;

}

.alyssaD {
    font-size: 700%;
    font-family: 'Poiret One', cursive;
    padding: 5px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}



.navLinks {
    float: center;
    font-size: 17px;
    text-align: right;
    font-family: 'Playfair Display', serif;
    color: white;
    padding: 20px;
    margin-top: -100px;
    background-color: white;
    width: 97%;
    border-radius: 5px;
}

.linksOne, .linksTwo, .linksThree {
    color: black;
    text-decoration: none;
    
}
.linksOne:hover, .linksTwo:hover, .linksThree:hover {
 opacity: 0.2;
    
}

.dashCard {
    padding: 20px;
}