@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #023040;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  li {
    float: right;
  }
  
  li a {
    margin: 0;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    opacity: 0.2;
  }



