.portImg {
    width: 87%;
}
.portImgTwo {
    width: 100%;
}
.portImgThree {
    width: 100%;
}


.portCardLeft {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}